<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sneaker Crunch</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb637256776443104</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.1.6</string>
	<key>FacebookAppID</key>
	<string>637256776443104</string>
	<key>FacebookDisplayName</key>
	<string>Founded Sole</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>App need your consent to access the media Library</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App need your consent to access the Bluetooth Peripheral</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App need your consent to access the calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>App need your consent to access the Camera</string>
	<key>NSContactsUsageDescription</key>
	<string>App need your consent to access the Contacts</string>
	<key>NSHealthShareUsageDescription</key>
	<string>App need your consent to access the Health Share</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>App need your consent to access the Health Update</string>
	<key>NSHomeKitUsageDescription</key>
	<string>App need your consent to access the HomeKit</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App need your consent to access the Location Always</string>
	<key>NSLocationUsageDescription</key>
	<string>App need your consent to access the Location </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App need your consent to access the Location When In Use</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App need your consent to access the Microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>App need your consent to access the Motion</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sneakerlab wants to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>App need your consent to access the Reminders</string>
	<key>NSSiriUsageDescription</key>
	<string>App need your consent to access the Siri</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>App need your consent to access the Speech Recognition</string>
	<key>NSVideoSubscriberAccountUsageDescription</key>
	<string>App need your consent to access the TV Provider</string>
	<key>UILaunchStoryboardName</key>
	<string>SneakerCrunchLaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>App need your consent to access the Music</string>
</dict>
</plist>
